

<div class="index-page">
  <h2> Scholarships </h2>

  <% if user_signed_in? %>
    <% @results.each do |result|%>

    <div class="card-product">


      <%= link_to scholarship_path(result) do %>
        <div class="link-image">
        <%= image_tag cl_image_path result.institution.photo %>
        </div>
      <% end %>



      <div class="card_product_infos" id="<%= result.id %>">
         <%= icon(current_user.likes?(result) ? "fas" : "far color-far" , "heart") %>
        <h2><%= result.name %></h2>
        <h2><%= result.institution.name %></h2>
        <p><%= result.description %></p>
      </div>
    </div>
    <br>
    <% end %>
    <% else %>
      <% @results.each do |result|%>

        <div class="card-product">
          <%= link_to scholarship_path(result) do %>
            <div class="link-image">
              <%= image_tag result.institution.photo_url %>
             </div>
           <% end %>

          <div class="card_product_infos">
            <%= link_to new_user_session_path, alert: "You need to Login to continue :)" do %>
              <i class="fas fa-heart color-far"></i>
            <% end %>

            <h2><%= result.name %></h2>
            <h2><%= result.institution.name %></h2>
            <p><%= result.description %></p>
          </div>
        </div>
        <br>
      <% end %>
  <% end %>
</div>

