<h2> Scholarships </h2>

<% if user_signed_in? %>
  <% @scholarships.each do |scholarship|%>
  <%= link_to scholarship_path(scholarship) do %>
    <div class="card-product">
      <%= image_tag scholarship.institution.photo_url %>
        <div class="card-product-infos">
          <%= icon(current_user.likes?(scholarship) ? "fas color-fas" : "far color-far" , "heart") %>
          <h2><%= scholarship.name %></h2>
          <h2><%= scholarship.institution.name %></h2>
          <p><%= scholarship.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <% @scholarships.each do |scholarship|%>
    <%= link_to scholarship_path(scholarship) do %>
    <div class="card-product">
      <%= image_tag scholarship.institution.photo_url %>
      <div class="card-product-infos">
         <%= icon(current_user.likes?(scholarship) ? "fas color-fas " : "far color-far" , "heart") %>
        <h2><%= scholarship.name %></h2>
        <h2><%= scholarship.institution.name %></h2>
        <p><%= scholarship.description %></p>
      </div>

    </div>
    <% end %>

      <br>
  <% end %>
<% end %>
