

<div class="index-page">
  <h1> See all Scholarships </h1>

  <% if user_signed_in? %>
    <div class="row">
      <% @results.each do |result|%>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <div class="card-product">

            <%= image_tag cl_image_path result.institution.photo %>

          <div class="card_product_infos" id="<%= result.id %>">
             <%= icon(current_user.likes?(result) ? "fas color-fas" : "far color-far" , "heart") %>
            <h2><%= result.name %></h2>
            <h2><%= result.institution.name %></h2>
            <p><%= result.description %></p>
          </div>
          <%= link_to '', result, class: 'card-link' %>
        </div>

      



        <br>

    </div>
     <br>
    <% end %>
    </div>


    <% else %>


    <div class="row">
      <% @results.each do |result|%>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <div class="card-product">
          <%= image_tag result.institution.photo_url %>


          <div class="card_product_infos">
            <%= link_to new_user_session_path, alert: "You need to Login to continue :)" do %>
              <i class="far fa-heart color-far"></i>
            <% end %>

            <h2><%= result.name %></h2>
            <h2><%= result.institution.name %></h2>
            <p><%= result.description %></p>
          </div>
          <%= link_to '', scholarship_path(result), class: 'card-link' %>
        </div>
        <br>
      </div>
      <br>
      <% end %>
    </div>
  <% end %>
</div>

