<div class="show-card">
  <div class="content-background">

    <%= image_tag @scholarship.institution.photo_url %>

    <div class="show-card-infos">
      <h2><%= @scholarship.name %></h2>
      <h3><%= @scholarship.institution.name %></h3>
      <p><%= @scholarship.area.name %></p>
      <p><%= @scholarship.description %></p>
      <%= link_to "See more information", @scholarship.url, class: 'btn btn-outline-secondary rounded-pill'%>
    </div>
     <%= icon(current_user.likes?(@scholarship) ? "fas color-fas" : "far color-far" , "heart") %>
    <div>
      <%= link_to "Back to Scholarships", scholarships_path, class: 'btn btn-outline-secondary rounded-pill' %>
    </div>
  </div>
</div>


