<div class="show-card">
  <div class="content-background">

    <%= image_tag @scholarship.institution.photo_url %>

    <div class="show-card-infos">
      <h2><%= @scholarship.name %></h2>
      <h3><%= @scholarship.institution.name %></h3>
      <p><%= @scholarship.area.name %></p>
      <p><%= @scholarship.description %></p>
      <%= link_to "See more information", @scholarship.url, class: 'btn btn-outline-secondary rounded-pill'%>
    </div>

    <div id='<%= @scholarship.id %>'>
      <% if user_signed_in? %>
        <%= icon(current_user.likes?(@scholarship) ? "fas" : "far color-far" , "heart") %>
      <% else %>
       <%= link_to new_user_session_path, alert: "You need to Login to continue :)" do %>
          <i class="far fa-heart color-far"></i>
        <% end %>
      <% end %>

    </div>

    <div>
      <%= link_to "Back to Scholarships", scholarships_path, class: 'btn btn-outline-secondary rounded-pill' %>
    </div>
  </div>
</div>


