
<div class="row equal d-flex justify-content-center overflow-auto">

  <div class="col-xs-8 col-sm-4">

    <div class="favorites">
      <i class="fas fa-heart color-far icon-heart" id="icon-heart-fav"></i>
      <h1>My Favorites</h1>
      <div class="favorite">


        <%current_user.favorites.each do |favorite| %>
          <% scholarship = Scholarship.find(favorite.favorited_id) %>
          <% if ((Date.today >= scholarship.application_start_date) and (Date.today < scholarship.application_end_date and scholarship.application_end_date - Date.today <= 15)) or ((Date.today <=  scholarship.application_start_date) and (scholarship.application_start_date - Date.today <= 60)) or ((Date.today >= scholarship.application_start_date) and (scholarship.application_end_date - Date.today > 15)) %>
            <div class="card-product-profile card-product-profile-highlight">
          <% elsif Date.today > scholarship.application_end_date %>
            <div class="card-product-profile card-product-profile-lowlight">
          <% else %>
            <div class="card-product-profile">
          <% end %>

            <%=image_tag scholarship.institution.photo_url %>
            <div class="card_product_profile_infos">
              <h2><%= scholarship.name%></h2>
              <% if  (Date.today <=  scholarship.application_start_date) and (scholarship.application_start_date - Date.today <= 60)%>
                <p style="color:red;"><strong>Application starts soon! </strong></p>
                <p>Application start: <%=scholarship.application_start_date%></p>
              <% elsif (Date.today >= scholarship.application_start_date) and (scholarship.application_end_date - Date.today > 15) %>
                <p style="color:red;"><strong>Application is now open!</strong></p>
                <p>Deadline: <%=scholarship.application_end_date %></p>
              <% elsif (Date.today >= scholarship.application_start_date) and (Date.today < scholarship.application_end_date and scholarship.application_end_date - Date.today <= 15)%>
                  <p style="color:red;"><strong>Application ends soon!</strong></p>
                  <p>Deadline: <%=scholarship.application_end_date %></p>
              <% elsif Date.today > scholarship.application_end_date %>
                <p style="color:red;"><strong>Application is now closed!</strong></p>
                  <p>Deadline: <%=scholarship.application_end_date %></p>
              <% else %>
                <p>Application start: <%=scholarship.application_start_date%></p>
                <p>Deadline: <%=scholarship.application_end_date%></p>
              <% end %>
            </div>

            <div class="icon" id="icon-trash-fav">
              <%= link_to favorite_path(favorite), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
            <%= link_to '', scholarship_path(scholarship.id), class: 'card-profile-link' %>
          </div>
        <% end%>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-sm-4">

    <div class="favorites">
      <i class="fas fa-bell icon-bell" id="icon-bell-alerts"></i>
      <h1>My Alerts</h1>
      <div class="favorite">

        <div class="icon" id="icon-plus">
          <%= link_to '#newAlert', 'data-toggle' => "modal" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>

        <%= render "/alerts/new", alert: Alert.new %>


        <%@sorted_alerts.each do |alert|%>
        <% if  alert.unread_notifications? %>
          <div class="card-product-profile card-product-profile-highlight">
        <% else %>
          <div class="card-product-profile">
        <% end %>
          <%if alert.institution.present?%>
            <%=image_tag alert.institution.photo_url %>
          <% else %>
            <%= image_tag alert.area.photo_url %>
          <% end %>

          <div class="card_product_profile_infos">
            <%if alert.institution.present? && alert.area.present? %>
              <h2><%= alert.area.name %></h2>
              <p><strong><%=alert.institution.name  %></strong></p>
            <% elsif alert.institution.present? %>
              <p><strong><%=alert.institution.name  %></strong></p>
            <% else %>
              <h2><%= alert.area.name %></h2>
            <% end %>



            <% if alert.unread_notifications? %>
            <div class="notification-link">
              <%=  link_to pluralize(alert.unread_notif_count, 'new notification'), change_notification_status_path(alert.id), method: :patch %>
              </div>
            <% end %>
            <div class="icon" id="icon-trash">
              <%= link_to alert_path(alert), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
            <div class="icon" id="icon-pencil">
              <%= link_to "#edit_alert_#{alert.id}", 'data-toggle' => "modal" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
            <%= render "/alerts/edit", alert: alert %>

          </div>
        </div>
        <% end%>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-sm-4">

    <div class="personal-info">
      <i class="far fa-user" id="user-icon"></i>
      <h1>My Personal Info</h1>
      <div class="card-product1">
        <div class="card_product_infos">
          <ul>
            <li><h5><strong>Name:</strong> <%=@user.first_name%> <%=@user.last_name%> </h5></li>
            <li> <h5><strong>Area of study:</strong> <%=@user.area%></h5></li>
            <li> <h5><strong>Nationality:</strong> <%=@user.nationality%></h5></li>
            <li> <h5><strong>Country of residence:</strong> <%=@user.country%></h5></li>
            <li> <h5><strong>Date of birth:</strong> <%=@user.date_of_birth%></h5></li>
            <li> <h5><strong>Gender:</strong> <%=@user.gender%></h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="icon" id="icon-pencil-profile">
      <%= link_to edit_user_registration_path do %>
      <i class="color-fas-pencil-alt">
        <i class="fas fa-pencil-alt"></i>
      </i>
      <% end %>
    </div>
  </div>

</div>
