
<div class="row equal d-flex justify-content-center overflow-auto">

  <div class="col-xs-8 col-sm-4">
    <h2>My Favorite</h2>
    <div class="favorites">
      <div class="favorite">


      <%current_user.favorites.each do |favorite| %>
      <% scholarship = Scholarship.find(favorite.favorited_id) %>
        <div class="card-product">
          <%=image_tag scholarship.institution.photo_url %>
          <div class="card_product_infos">
            <h2><%= link_to scholarship.name, scholarships_path %></h2>
            <p>Aplication starts: <%=scholarship.application_start_date%></p>
            <p>Deadline: <%=scholarship.application_end_date %></p>
          </div>
        </div>
      <% end%>
      </div>
    </div>
  </div>

    <div class="col-xs-8 col-sm-4">
    <h2>My Alerts</h2>
    <div class="favorites">
      <div class="favorite">

      <%current_user.alerts.each do |alert|%>
        <div class="card-product">

          <%=image_tag alert.institution.photo_url %>
          <div class="card_product_infos">
            <h2><%= link_to alert.area.name, scholarships_path %></h2>
            <p><strong><%=alert.institution.name  %></strong></p>

          <%if alert.institution.present?%>
            <%=image_tag alert.institution.photo_url %>
          <% else %>
            <%= image_tag alert.area.photo_url %>
          <% end %>
          <div class="card_product_infos">
            <%if alert.institution.present? && alert.institution.present? %>
              <p><strong><%=alert.institution.name  %></strong></p>
              <h2><%= link_to alert.area.name, scholarships_path %></h2>
            <% elsif alert.institution.present? %>
              <p><strong><%=alert.institution.name  %></strong></p>
            <% else %>
              <h2><%= link_to alert.area.name, scholarships_path %></h2>
            <% end %>

          </div>
        </div>
      <% end%>
      </div>
    </div>
  </div>

 <div class="col-xs-8 col-sm-4">
    <h2>My Profile</h2>
    <div class="personal-infor">
        <div class="card-product1">
          <div class="card_product_infos">
            <ul>
              <li><h5>Full Name: <%=@user.first_name%> <%=@user.last_name%> </h5></li>
              <li> <h5>Your area of study: <%=@user.area%></h5></li>
              <li> <h5>Nationality: <%=@user.nationality%></h5></li>
              <li> <h5>Country: <%=@user.country%></h5></li>
              <li> <h5>Date of birth: <%=@user.date_of_birth%></h5></li>
              <li> <h5>Gender: <%=@user.gender%></h5></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="icon">
          <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
      </div>
    </div>

  </div>
